@font-face {
    font-family: Helvetica-Neue;
    src: url(../fonts/HelveticaNeue\ Regular.ttf) format(truetype);
}


@font-face {
    font-family: HelveticaNeueLTGEOW82-55Rm;
    src: url(../fonts/825-font.ttf);
}